@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');


/*...........................................Navbar*/

.navbar {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #CA9D1D;
    height: 100px;
    opacity: .65%;
}
/*...........................................Image slider*/
.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
/*..........................................Menu*/   
/*column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
  ....................Menu.....*/  
 .menucontainer {
    align-items: center;
    padding-bottom: 40px;
    
 }
  
.menu h1 {
    padding-bottom :40px;
}
 
  .column {
    margin: 0;
    padding: 0 0 2px 10px;
    float: left;
    height: 303px;
    width: 170px;
    
  }
  .dinnermenu {
    clear: both;
    text-align: center;
   
  }
   /*........................Story. & contact..............*/ 
  
  .story-row {
    padding-bottom: 10%;
    font-size: 1.75em;
    line-height: 2;
}

.story-row .contactsection h2 {
    margin-left: 15px;
    margin-top: 15%;
    letter-spacing: 7px;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.story-row .story-p {
    font-size: .8em;
    margin: 40px 0px 40px 0px;
    background-color: transparent;

}

.container-contact{
  margin-bottom: 100px;
}
.contact-form{
  margin-top: 70px;
}
.btn-info{
  display:flex;
  text-align: center;
}
 /*................................video & Location*/ 
 
 .container-info {
  position: relative;
  font-size: 1rem;
  line-height:1.5;
  overflow: hidden;
  max-width:100% ;
  padding: 1rem;
  margin: auto;
 }
 .v-container{
   align-items:center;
   display: flex;
 }
 .video-wrap {
  position: relative;
  top:0;
  left:0;
  width:100%;
  height: 100vh;
  overflow:hidden;
  z-index: 0;
}
.video-wrap video{
  min-width:100%;
  min-height:100%;
}
.header-content {
   z-index: 1;
   position: absolute;
   color: #CA9D1D;
   margin-left: auto;
   
 }

.header-content h1 {
  font-size: 50px;
  padding: 10px;
}
.header-content h2{
  font-size:40px;
  padding:10px;
}
.header-content p {
 font-size: 20px;
 padding: 10px;
}
.location{
    
    position: relative;
    font-size: 13px;
    font-size: 1.3rem;
    letter-spacing: 2px;
    color: red;
    padding:10px;
    width: 90%;
    margin: auto;
}
a {
   text-decoration: none;
}
  
/*...........................................Footer*/

.page-footer {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color:#EDDAB4;
    clear: both;
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    text-align: center;
}
/*................................Social links*/
.social-icons{
    text-shadow: 2px 2px rgba(0,0,0,0.2);
}

 

    
    
